<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {{ $favicon := .Resources.GetMatch "icon-kawanuabiz.png" }} -->
    <link rel="icon" type="image/png" href="{{ "icon-kawanuabiz.png" | relURL }}">
    <!-- <link rel="icon" type="{{ .MediaType.Type }}" href="{{ .RelPermalink }}"> -->
    {{ $style := resources.Get "styles/global.css" | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous"> 
    {{ $opsi := (dict "targetPath" "css/main.css" "outputStyle" "compressed" "enableSourceMap" false) }}
    {{ $punya := resources.Get "styles/punyaku.scss" | toCSS $opsi | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $punya.Permalink }}" integrity="{{ $punya.Data.Integrity }}" crossorigin="anonymous"> 

    <title>{{.Param "slogan"}} - {{ .Title }}™</title>
</head>
<body class="bg-neutral-50">
    <header>{{ partialCached "header" . }}</header>
    <main>{{ block "bodymain" . }}{{ end }}</main>
    <footer>{{ partialCached "footer" . }}</footer>
</body>
</html>