@font-face {
  font-family: PlusJakartaSans;
  src: url("/webfonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
:root {
  --jakarta: "PlusJakartaSans", Georgia, "Times New Roman", Times, serif;
  --rounded-box: 1rem;
}

html {
  font-family: var(--jakarta);
  // color: whitesmoke;
  // background-color: whitesmoke;
  // background-image: linear-gradient(
  //   to right top,
  //   #002029,
  //   #00303d,
  //   #004052,
  //   #005066,
  //   #00607a
  // );
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body {
  display: grid;
  place-items: center;
  resize: both;
  overflow: auto;
  height: 100%;
}
footer {
  text-align: center;
}
strong {
  font-weight: 900;
}
.logo-header {
  width: 15em;

  img {
    width: inherit;
  }
}
