<div>
    © 2023<script>new Date().getFullYear() > 2023 && document.write("-" + new Date().getFullYear());</script> <strong>{{ .Site.Title }}™</strong>.<br />
    <!-- <small><strong>{{ .Site.Title }}</strong> {{ i18n "disclaimer" | markdownify }}</small> -->
    <small>{{ i18n "disclaimer" | markdownify }}</small>
</div>