{{ define "main" }}
<h1 id="title" class="f-smooch font-bold text-5xl pb-4">Halaman tidak ditemukan.</h1>
<p class="">
    <a href="{{ "/" | relURL }}" class="font-extrabold underline underline-offset-2 decoration-blue-500 hover:text-blue-800">
        ← Kembali ke Beranda
    </a>
</p>
{{ end }}